@media screen and (max-width: 767px) {

    .nav_btn_special{
        position: absolute;
        left: -9999px;
      }
        .nav_btn:not(:first-child){
        display: none;
    }
    .logo{
        position: relative;
        left: -45%;
        top:0;
        transform: translate(45%,0%);
        padding-left: 20px;
        text-align: left;
    }
    .menu_icon{
        position: relative;
        left: 10%;
        top:50%;
        transform: translate(-10%,-50%);
        
    }
}
@media screen and (min-width: 1024px) {
    #max_600{
        display: none;
    }
}
@media screen and (max-width:1024px) {
    #min_767{
        display: none;
    }
}
@media screen and (min-width:767px) {
    .menu_icon{
        position: absolute;
        visibility: hidden;
    } 
}
.menu_icon{
    color: brown;
    cursor: pointer;
}
.menu{
    width: 300px;
    height: 530px;
    background: snow;
    text-align: center;
    position: fixed;
}
button{
    border: none;
    background: transparent;
    text-align: center;
    color: black;
   
}
.menubtn{
    font-size: 18px;
    font-family: 'Kosugi Maru', 'Yomogi';
    width: 170px;
    height: 45px;
    vertical-align: middle;
    color: black;
}
.menubtn:hover{
    border-left:2px dashed #E6CAFF;
    border-right:2px dashed #ACD6FF;
}
.menu_max_600{
    width: 100%;
    background: snow;
    text-align: center;
    position: fixed;
    background-color: #fff; /* 可以更改背景顏色 */
    z-index: 100; /* 確保導覽列處於最上層 */
    text-align: center;
    padding: 10px;
    left: -1px;
}
.menuBtn{
    font-size: 18px;
    font-family: 'Kosugi Maru', 'Yomogi';
}
.menuBtn:hover{
    border-left:2px dashed #E6CAFF;
    border-right:2px dashed #ACD6FF;
}
.topnav{
    background: snow;
    text-align: center;
}
body{
    background: linear-gradient(45deg,	#ACD6FF,#FFF4C1,#E6CAFF);
    width: 100%;
    
}
.logo{
    padding-top: 8px;
    color: darkred;
    padding-bottom: 1px;
    cursor: pointer;
}
#english_name{
    font-family: 'Yomogi', cursive;
    font-size: 18px;
}
#name{
    font-size: 22px;
    font-family: 'Kosugi Maru', sans-serif;
}
.topnav{
    box-shadow:0px 5px 5px rgba(0, 0, 0, 0.5);;
}

.nav_btn{
    display: inline-block; 
    width: 120px;
    text-align: center;
    cursor: pointer;
    color: darkgrey;
}
.nav_btn:hover{
    color: darkred;
}
footer{
    background: snow;
    font-family: 'Kosugi Maru', 'Yomogi';
    text-align: center;
    padding: 10px;
}
.title{
    font-family: 'Kosugi Maru', 'Yomogi';
    color: darkred;
    text-align: center;
    font-size: 55px;
}
.title p{
    font-size: 20px;
}
.menu h2{
  color: brown;
  font-family: 'Yomogi', cursive;
  border-bottom: 1px solid saddlebrown;
  padding: 20px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    border-radius: 5px;
    padding: 10px;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
img {
    border-radius: 5px 5px 0 0;
}
  
.container {
    padding: 2px 16px;
}
.container h4{
    font-family: 'Kosugi Maru', 'Yomogi';
    padding-top: 10px;
    color: darkred;
}
.container p{
    font-family: 'Kosugi Maru', 'Yomogi';
}
.menu_title{
    font-family: 'Kosugi Maru', 'Yomogi';
    color: darkred;
    padding-bottom: 10px;
    font-size: 30px;
    padding-top: 10px;
}
.nav_btn_special{
    display: inline-block; 
    width: 120px;
    text-align: center;
    cursor: pointer;
    color: darkgrey;
}
.nav_btn_special:hover{
    color: darkred;
}
.button{
    background: linear-gradient(135deg,#ACD6FF,#FFF4C1,#E6CAFF);
}
#show_menu_overlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(96, 25, 25, 0.75);
    z-index: 2;
    cursor: pointer;
}
.clearfix {
    padding: 5px;
    box-shadow:15px 15px 10px rgba(0, 0, 0, 0.5);
    background: snow;
    height: 450px;
    text-align: center;
    font-family: 'Poiret One', 'Kosugi Maru';
  }
.img_menu{
    float: right;
}
  
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
.clearfix h4{
    color: darkred;
    font-family: 'Poiret One', 'Kosugi Maru';
}
.menu_items{
    padding: 20px;
}
.col-sm-4{
    display: table-cell;
    padding: 16px;
}
.col-container {
    display: table;
    width: 100%;
}
